$textcolor: rgb(255, 115, 0);
.navbar-default {
  background: -moz-linear-gradient(45deg, #262626 0%, #4A4A4A 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #262626), color-stop(100%, #4A4A4A));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #262626 0%, #4A4A4A 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #262626 0%, #4A4A4A 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #262626 0%, #4A4A4A 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #262626 0%, #4A4A4A 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A4A4A', endColorstr='#262626', GradientType=1);
  /* ie6-9 */
  border: none;
  border-radius: 0;
  .navbar-brand,
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: $textcolor;
    font-weight: 700;
  }
}

.navbar-default .navbar-nav>li>a {
  color: $textcolor;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    color: $textcolor;
  }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  opacity: 1;
  background-color: #262626;
  color: $textcolor;
}